*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'arial';
    margin: 0;
    padding: 20px;
    height: 1000vh;
}

.header-inner-content{
    max-width: 1225px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #2e2e2e;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px black;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moto{
    color: black;
    font-size: 70px;
    padding-left: 50px;
}

.maxx{
    color: rgb(255, 0, 0);
    font-size: 80px;
    padding-left: 57px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    width: 200%;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    width: 5px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: aliceblue;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #151515;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #f30c0c;
    
    
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

nav.menu-lateral:hover{
    width: 300px;
}

ul{
    height: 100%;
    list-style-type: none;

}

.bt-expandir{
    width: 100%;
    padding-left: 10px;
}

.bt-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul li.item-menu{
    transition: .2s;
    width: 100%;
}

ul li.item-menu:hover{
    background: #f30c0c;
    
}

ul li.item-menu a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 20px 18px;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    line-height: 40px;
    text-align: center;
    transition: background 0.2s ease;
   
}

ul li.item-menu a .txt-link{
    margin-left: 40px;

}

ul li.item-menu a .icons > i{
    font-size: 30px;

}